<table width='100%' class='table table-striped'>
  <thead>
    <tr>
      <% columns.each do |column| %>
        <%= content_tag :th, column.to_s.gsub('_', ' ').split(' ').map{|s| s.capitalize}.join(' ') %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'statistic', :collection => @statistics, :locals => {:columns => columns} %>
  </tbody>
</table>