<div class="container">
  <header class="jumbotron masthead">
    <div class="inner">
      <h1>Welcome to the Home of the Bootleggers!</h1>
      <% image_tag 'bootleggers.gif' %>
    </div>
  </header>
  
  <div class="row">
    <hr>
    <div class='offset1 span3'>
      <%= image_tag 'bootleggers.gif', :class => 'img-polaroid' %>
    </div>
    <div class='offset1 span3'>
      <%= image_tag 'hurtin_farmers.jpg', :class => 'img-polaroid' %>
    </div>    
  </div>
  
  <div class="row">
    <hr>
    <div class="span2 championship_banner well">
      <h4>Nepean Touch Football League</h4>
      <h5>Division B Champions</h5>
      <h3>Spring 2006</h3>    
    </div>
    <div class="span2 championship_banner well">
      <h4>Ottawa Flag Football League</h4>
      <h5>Division B Champions</h5>
      <h3>Summer 2009</h3>    
    </div>
    <div class="span2 championship_banner well">
      <h4>Ottawa Flag Football League</h4>
      <h5>Division B Champions</h5>
      <h3>Spring 2011</h3>    
    </div>
    <div class="span2 championship_banner well">
      <h4>Ottawa Flag Football League</h4>
      <h5>Division A Champions</h5>
      <h3>Summer 2011</h3>    
    </div>    
  </div><!--/row-->  
</div>