<table width='100%' class='table table-striped'>
  <thead>
    <tr>
      <% columns.each_with_index do |column, index| %>
        <%= content_tag :th, column.to_s.gsub('_', ' ').split(' ').map{|s| s.capitalize}.join(' '), style: "#{(index < 2) ? '' : 'text-align:right'}"  %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'record', :collection => @records, :locals => {:columns => columns} %>
  </tbody>
</table>